:root {
    --textColor: white;
    --whiteBackgroundColor: #ffffff;
    --greyBackgroundColor: #f6f8ff;
    --darkBackgroundColor: #17181f;
    --secondColor: #e5ff00;
    --hoverSecondColor: #cf0c;
    --borderColor: #dee2eb;
    --cornerRad: 4px;
    --font-family: "IBM Plex Sans",ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,sans-serif;
}

a {
    text-decoration: none;
    color: var(--textColor);
}

li {
    list-style-type: none;
}

body {
    margin: 0;
    background-color: var(--greyBackgroundColor);
    font-family: var(--font-family);
}

.page-header {
    padding: 3px 0;
    background-color: var(--darkBackgroundColor);
    background-size: cover;   
}

.page-header__logo {
    max-width: 50px;
    height: auto;
    margin-right: 10px;
}

input[id="navigation-bar__checkbox"]{
    display: none;
}

.navigation-bar__hamburger {
    display: none;
    font-size: 24px;
    color: var(--textColor);
    user-select: none;
}

.navigation-list{
    display: flex;
    gap: 1em;
    margin: 0;
    font-size: 16px;
    font-weight: 500;
}

.navigation-list__item {
    position: relative;
    padding: 0 7px;
    text-align: center;
}

.navigation-list__item_underline {
    text-decoration: underline;
}

.navigation-list__item:hover .dropdown {
    display: block;
}

 .navigation-list__link:hover{
    color: var(--secondColor);
    transition: 0.2s ease;
} 

.navigation-list__link_current {
    padding-bottom: 8px;
    border-bottom: 1px solid var(--secondColor);    
}

.dropdown {
    position: absolute;
    right: 0;
    z-index: 3;
    display: none;
    width: 100%;
    padding: 0 0;
    background-color: var(--darkBackgroundColor);
    font-size: 14px;   
    cursor: pointer;   
}

.dropdown__item {
    z-index: 4;
    width: auto;
    margin-top: 5px;
    padding: 0.5em 1em;
    text-align: center;
}

.dropdown__item:first-child {
    margin-top: 17px;
}

.dropdown__item:hover {
    background-color: var(--hoverSecondColor);
    color: var(--textColor);
    transition: 0.1s ease;
}


.inner {
    display: block;
    width: 1200px;
    margin: 0 auto; 
}

.inner_header {
    display: flex;
    align-items: center;
    justify-content: flex-start; 
}

.row {
    display: flex;
    justify-content: center;
    gap: 15px;
    max-height: 380px;
    margin: 15px 0;
}

.row_3 {
    gap: 15px;
    height: 380px;
}

.row_4 {
    height: 250px;
}

.cell {
    position: relative;
    flex: 0 1 auto;
    display: block;
    box-sizing: border-box;
    width: 390px;
    /*  */
    background-color: var(--whiteBackgroundColor);
}

.cell_item:active, 
.cell_item:hover {
    box-shadow: 0 4px 10px rgb(65 84 219 / 10%), 0 4px 5px rgb(61 71 143 / 30%);
    transition: .2s ease-in-out;
}

.cell__link {
    display: block;
    height: 100%;
}

.cell__image {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.cell__image_half-size {
    height: 50%;
}

.cell__description {
    display: block;
    height: auto;
    margin: 0 15px;
    padding-top: 12px;
    line-height: 110%;
}

.cell__description_full-text {
    position: absolute;
    bottom: 24px;
    color: var(--textColor);
    font-weight: 700;
    font-size: 28px;
}

.cell__description_half-text {
    position: relative;
    color: var(--darkBackgroundColor);
    font-weight: 700;
    font-size: 26px;
}

.cell__description_low-text {
    position: relative;
    margin: 0 18px;
    padding-top: 8px;
    color: var(--darkBackgroundColor);
    font-size: 20px;
    font-weight: 500;
}

.cell__category {
    position: absolute;
    right: 0;
    bottom: 0;
    display: block;
    padding: 3px 6px;
    border-radius: 15px 0 0 0;
    color: var(--darkBackgroundColor);
    font-weight: 400;
    font-size: 16px;
}

.cell__category_full-size {
    color: var(--whiteBackgroundColor);
}

.cell__category:hover {
    color: var(--secondColor);
    transition: 0.1s ease;
}

.currency-list {
    height: 100%;
    border: 1px solid var(--borderColor);
}

.currency-list__title{
    padding: 7px;
    border-radius: 0 0 20px 20px;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    color: var(--textColor);
    background-color: var(--darkBackgroundColor);
}

.currency-list__prices {
    margin-top: 15px;
}

.currency-list__button{
    position: absolute;
    right: 0;
    bottom: 0;
    display: block;
    width: 120px;
    height: 45px;
    padding-top: 4px;
    border-radius: 20px 0 0 0;
    font-weight: 500;
    font-size: 17px;
    line-height: 120%;
    text-align: center;
    word-wrap: break-word;
    background-color: var(--darkBackgroundColor);
}

.currency-list__button:hover > a, .currency-list:hover > .currency-list__title {
    color:var(--secondColor);
    transition: 0.2s ease;
}

.currency {
    display: flex;
    justify-content: space-between;
    margin: 14px 17px;
}

.currency__name, .currency__price {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.currency__name {
    width: 110px;
    margin-left: 10px;
    text-align: left;
}

.currency__price {
    width: calc(100%-120px);
    margin-right: 10px;
    text-align: right;
}

.currency__first-item, .currency__second-item {
    letter-spacing: .02em;
    line-height: 100%;
    color: var(--darkBackgroundColor);
}

.currency__first-item {
    font-size: 16px;
    font-weight: 700;
    line-height: 100%;
    color: var(--darkBackgroundColor);
}

.currency__second-item {
    margin-top: 5px;
    font-size: 14px;
    font-weight: 500;
}

.price-up {
    color: green;
}

.price-down {
    color: red;
}

.page-footer {
    position: relative;
    display: block;
    margin-top: auto;
    padding: 50px 0;
    color: var(--whiteBackgroundColor);
    background-color: var(--darkBackgroundColor);
    background-size: cover;
}

.page-footer__flex-container {
    display: flex;
    justify-content: space-between;
    gap: 1em;
}

.page-footer__logo {
    max-width: 80px;
    height: auto;
}

.page-footer__contacts {
    position: relative;
    float: right;
    text-align: right;
}

.page-footer__description {
    position: relative;
    text-align: right;
}



@media (max-width: 1288px)
{
    .inner {
        width: 960px;
    }

    .row {
        max-height: 300px;
    }

    .currency-list__title, .cell__description_low-text {
        font-size: 16px;
    }
    
    .currency-list__button {
        font-size: 14px;
    }

    .cell__description_full-text, .cell__description_half-text {
        font-size: 22px;
    }

    .currency__first-item, .cell__category {
        font-size: 14px;
    }
    
    .currency__second-item {
        font-size: 12px;
    }

    .currency {
        margin: 12px 12px;
    }

    .currency-list__prices {
        margin-top: 10px;
    }

    .currency-list__button {
        width: 124px;
        height: 22px;
        padding-top: 6px;
        font-weight: 500;
    }

}

/*Mobile version*/
@media (max-width: 768px) {
    .page-header {
        display: flex;
        justify-content: space-between;
    }


    input[id="navigation-bar__checkbox"]:checked ~ .navigation-list{
        display: block;
    }

    .navigation-bar__hamburger {
        display: block;
        margin-right: 20px;
    }

    .navigation-list { 
        position: absolute;
        right: 0;
        left: 0;
        display:none;
        padding: 16px 0;
        text-align: center;
        background-color:var(--darkBackgroundColor);
    }

    .navigation-list__item{
        margin-top: 5px;
    }

    .navigation-list__item:first-child{
        margin-top: 0px;
    }

    .navigation-list__item:hover {
        display: inline-block;
        background-color:var(--hoverSecondColor);
        transition: 0.3s ease;
    }

    .dropdown {
        left: 50%;
        top: 30px;
        transform: translateX(35%);
    }

    .dropdown__item:hover {
        background-color: var(--hoverSecondColor);
    }
}

