.post-content {
    position: relative;
    max-width: 780px;

    @media (max-width: $screen-xl) {
        max-width: 680px;
    }

    &__title {
        margin-top: 10px;
        font-size: 32px;

        @media (max-width: $screen-sm) {
            font-size: 30px;
        }
    }

    &__text {
        margin-bottom: 0;
        font-size: 18px;
        line-height: 140%;
        letter-spacing: .02em;
        color: $color-text-dark;
    }

    &__figure {
        display: block;
        height: 260px;
        overflow: hidden;
        position: relative;
        margin: 0;
        margin-top: 18px;

        @media (max-width: $screen-md) {
            display: inline-block;
            height: auto;
            overflow: visible;
            margin: 0;
        }
    }

    &__image {
        position: absolute;
        top: -273.406px;
        min-width: 100%;
        max-width: 100%;
        height: auto; 

        @media (max-width: $screen-md) {
            position: relative;
            display: inline-block;
            top: 0;
            max-height: fit-content;
        }
    }

    &__list {
        margin: 0;
        padding-left: 30px;
        list-style-position: inside;
    }

    &__list-item {
        padding: 6px 0;
        font-size: 18px;

        &::marker {
            color: $color-main-dark;
            font-size: 25px;
        }
    }

}