.page-footer {
    position: relative;
    display: block;
    margin-top: auto;
    padding: 50px 0;
    color: #ffffff;
    background-color: #17181f;
    background-size: cover;

    &__contacts {
        position: relative;
        float: right;
        text-align: right;
    }

    &__description {
        position: relative;
        text-align: right;
    }

    &__flex-container {
        display: flex;
        justify-content: space-between;
        gap: 1em;
    }

    &__logo {
        max-width: 80px;
        height: auto;
    }
}