.page-footer {
    position: relative;
    display: block;
    /* flex: 0 0 auto; */
    margin-top: auto;
    padding: 50px 0;
    color: #ffffff;
    background-color: #17181f;
    background-size: cover;
}