.navigation-bar__dropdown-item {
    z-index: 4;
    width: auto;
    margin-top: 5px;
    padding: 0.5em 1em;
    text-align: center;
}

.navigation-bar__dropdown-item:first-child {
    margin-top: 18px;
}

.navigation-bar__dropdown-item:hover {
    background-color: #cf0c;
    color: #ffffff;
    transition: 0.1s ease;
}

@media (max-width: 768px) {
    .navigation-bar__dropdown-item:hover {
        background-color: #cf0c;
    }
}