.sidebar {
    max-width: 390px;
    
    @media (max-width: $screen-xl) {
        max-width: 250px;
    }

    @media (max-width: $screen-lg) {
        display: none;
    }

    &_right {
        position: sticky;
        float: right;
        top: 60px;
        right: 0;
    }

    &__navigation {
        padding-left: 30px;
    }

    &__navigation-header {
        margin-bottom: 10px;
        padding-left: 0px;
    }

    &__navigation-list {
        padding-left: 0;
    }

    &__navigation-item {
        padding: 8px 0 8px 20px;
        border-left: 1px solid $color-border;
        list-style: none;
    }

    &__navigation-link {
        color: $color-text-dark;
        
        &:hover {
            color: $color-main-dark;
        }
    }

}