.navigation-bar {
    
    &__checkbox {
        display: none;
    
        @media (max-width: $screen-lg) {
            &:checked ~ .navigation-bar__list{
                display: block;
            }
        }
    }
    
    &__dropdown {
        display: none;
        position: absolute;
        right: 0;
        z-index: 1;
        width: 100%;
        padding: 0;
        background-color: $color-background-dark;
        font-size: 14px;
    
        @media (max-width: $screen-md) {
            
        }   
    }
    
    &__dropdown-item {
        z-index: 4;
        width: auto;
        margin-top: 5px;
        padding: 0.5em 1em;
        text-align: center;
        
    
        &:first-child {
            margin-top: 18px;
        }
        
        &:hover {
            background-color: $color-main-dark;
            color: $color-text-main;
            transition: 0.1s ease;
        }
        
        @media (max-width: $screen-lg) {
            &:hover {
                background-color: $color-main-dark;
            }
        }
    }

    &__dropdown-link {
        color: $color-text-main;
    }
    
    &__hamburger {
        display: none;
        font-size: 24px;
        color: $color-text-main;
        user-select: none;
        
        @media (max-width: $screen-lg) {
            display: block;
            margin-right: 20px;
            color: white;
        }
    }
    
    &__list{
        display: flex;
        align-items: center;
        justify-content: space-between; 
        margin: 0;
        font-size: 16px;
        font-weight: 500;
       
        @media (max-width: $screen-lg) {
            position: absolute;
            margin-top: 10px;
            left: 0;
            right: 0;
            display:none;
            z-index: 1;
            padding: 5px 0;
            text-align: center;
            background-color: $color-background-dark;
            
        }

        @media (max-width: $screen-lg) {
            display: none;
        }

    }
    
    &__list-item {
        position: relative;
        padding: 0 7px;
        text-align: center;

        &:hover .navigation-bar__dropdown{
            display: block;
        }
    
        @media (max-width: $screen-lg) {
            padding: 10px 40px;
            
        }
    }
    
    &__list-link {
        color: $color-text-main;

        &:hover {
            color: $color-main;
            transition: 0.2s ease;
        }
    
        &_current{
            padding-bottom: 8px;
            border-bottom: 1px solid $color-main;  

            @media (max-width: $screen-lg) { 
                border-bottom: 0;
            }
        }
    }
}


