.navigation-bar__hamburger {
    display: none;
    font-size: 24px;
    color: #ffffff;
    user-select: none;
}

@media (max-width: 768px) {
    .navigation-bar__hamburger {
        display: block;
        margin-right: 20px;
    }
}