.page-header {
    padding: 3px 0;
    margin: 0;
    background-color: $color-background-dark;
    background-size: cover;   
    

    @media (max-width: 768px) {
        display: flex;
        justify-content: space-between;
    }

    &__left-side {
        display: flex;
        align-items: center;
        justify-content: flex-start; 
    }

    &__logo {
        max-width: 50px;
        margin-right: 10px;

        @media (max-width: $screen-lg) {
            display: none;
        }
    }

    &__mobile-logo {
        display: none;

        @media (max-width: $screen-lg) {
            display: block;
            max-width: 50px;
        }
    }

    &__menu {
        display: flex;
        align-items: center;
        justify-content: space-between; 

        @media (max-width: $screen-lg) {
            justify-content: space-between;
            
        }
    }   
}

