.search-field {
    display: flex;
    align-items: center;
    justify-content: flex-start; 
    padding: 4px 6px; 
    border: 2px solid #ffffff;
    border-radius: 16px;
}

.search-field:hover {
    cursor: pointer;
}