.inner {
    display: block;
    box-sizing: border-box;
    max-width: 1200px;
    margin: 0 auto; 
    
    @media (max-width: $screen-xl) {
        padding: 0 2rem;
    }

    @media (max-width: $screen-lg) {
        width: 630px;
        padding: 0;
    }

    @media (max-width: $screen-md) {
        width: calc(100% - 26px);
        padding: 0 1rem;
    }

    
}