.navigation-bar__list-item {
    position: relative;
    padding: 0 7px;
    text-align: center;
}

.navigation-bar__list-item:hover .navigation-bar__dropdown {
    display: block;
}

@media (max-width: 768px) {
    .navigation-bar__list-item{
        margin-top: 5px;
    }

    .navigation-bar__list-item:first-child{
        margin-top: 0px;
    }

    .navigation-bar__list-item:hover {
        display: inline-block;
        background-color:#cf0c;
        transition: 0.3s ease;
    }
}