.search-field {
    
    &__form {
        display: flex;
        align-items: center;
        justify-content: flex-start; 
        
        margin-left: auto;
        padding: 1px;
        border: 2px solid $color-border-white;
        border-radius: 16px;
    
        @media (max-width: $screen-lg) {
            margin: 0;
            border: none;
        }
    }

    &__image {
        max-height: 25px;
        padding-right: 8px;
    }

    &__input-text{
        width: 80px;
        padding: 7px;
        border: none;
        border-radius: 15px;
        appearance: none;
        outline: none;
        transition: 1s;
        background-color: $color-background-dark;
        color: $color-text-main;
        font-size: 14px;

        @media (max-width: $screen-lg) {
           display: none;
        }
        
        @media (min-width: $screen-lg) {
            &:focus {
                width: 200px;
            }
        }

    }

    &__button{
        height: 25px;
        width: 25px;
        border: 0;
        outline: 0;
        margin-right: 8px;        
        padding: 0;
        background: url(../blocks/search-field/img/search.webp) no-repeat right center;
        background-size: 100%;

        &:hover {
            cursor: pointer;
        }
    } 

    &__popup {
        margin: 15px;
    }
}

