.navigation-bar__list{
    display: flex;
    align-items: center;
    justify-content: space-between; 
    margin: 0;
    font-size: 16px;
    font-weight: 500;
}

@media (max-width: 1200px) {
    .navigation-bar__list {
        font-size: 1.45vw;
    }
}

@media (max-width: 768px) {
    .navigation-bar__list { 
        position: absolute;
        right: 0;
        left: 0;
        display:none;
        padding: 16px 0;
        text-align: center;
        background-color: #17181f;
    }
}