.row {
    display: flex;
    justify-content: center;
    gap: 15px;
    max-height: 380px;
    margin: 15px 0;

    &_3 {
        gap: 15px;
        height: 380px;
    
        @media (max-width: 1200px) {    
            max-height: 320px;
        }
    }
    
    &_4 {
        height: 250px;

        @media (max-width: 1200px) {    
            max-height: 220px;
        }
    } 
}