.card__description_big-size {
    position: absolute;
    bottom: 24px;
    color: #ffffff;
    font-weight: 700;
}

@media (max-width: 1200px) {
    .card__description_big-size {
        font-size: 1.85vw;
    }
}